<!DOCTYPE html>
<html>
  <head>
    <title>Insta photo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid container-background">
      <div class="container">
    
      <ul class="nav">
        <li class="nav-item nav-link active nav-landing">
          <%= link_to "Insta Photo", root_path %>
        </li>
        <li class="nav-item nav-link nav-landing">
          <%= link_to "О проекте", pages_about_path %>
        </li>
      </ul>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <%= yield %>  
      </div>
    </div>

    <footer>
      <div class="container-fluid text-center footer-bg">
        <p>(c) 2018 OsArts</p>  
      </div>
      
    </footer>
  </body>
</html>
